@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
.hero{
    background-image: url("/images/img2.jpg");
    background-color: #cccccc;
    height: 100vh; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
}
.logo{
    max-height: 60px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
}
nav ul li a{
    color: #1d1d24;
    position: relative;
    padding: 5px 0;
}
nav ul li a:hover{
    color: #2b24f0;
}


.content{
    position: absolute;
    top: 20%;
    left: 5%;
}
.content .title{
    color: #1f1f25;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    margin-bottom: 20px;
    background: linear-gradient(120deg, #1c99fe 20.69%, #7644ff 50.19%,#fd4766 79.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.content h1{
    color: #1f1f25;
    font-size: 30px;
    font-weight: 900;
    line-height: 55px;
    text-transform: inherit;
    width: 100%;
}
.content h1 span{
    /* color: #fd4766; */
    color: #12093e;
    font-size: 40px;
    width: 100%;
}
.content p{
    color: #181717;
    margin-top: 8px;
    margin-bottom: 30px;
    width: 45%;
    font-size: 20px;
}


#myimage{
    width: 20%;
    border-radius: 140px;
    border-color: black;
}
